@charset "UTF-8";

/*
Paleta de cores
Lilas: #5f2c82
Verde: #49a09d
*/

/*        CONFIGURAÇÕES PARA CELULAR*/

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;   
    height: 100vh;
    width: 100vh;
}

main{
    position: relative;/*para colocar tela meio*/
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute; /*para colocar tela meio*/
    
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%); /*posição da tela no centro e esquerda*/
    overflow: hidden;

    background-color: white;
    width: 278px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

    transition: width 0.3s, height 0.3s; 
    transition-timing-function:ease ;/*suavizar durante a animação de transição de uma tela para outra*/



}

section#login > div#imagem{
    display: block;    
    background: #5f2c82 url(../imagens/pexels.jpg);
    background-size: cover, no-repeat;
    border-radius:20px top ;
    background-position:top right ;/*posição da imagem*/
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;   

}

div#formulario > h1{
    text-align: center;
    margin-bottom:10px;

}

div#formulario > p {
    font-size: 0.9em
}


